<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%- faviconUrl -%>" type="image/x-icon">
    <title><%- titleName -%></title>
    <link rel="stylesheet" href="/libs/explorer.css">
</head>

<body>
    <% entries.forEach(e => { %><div class="Entry"><a class="<%- e.type -%>" href="<%- e.url -%>" ><%- e.name -%></a></div><% }) %>
</body>

</html>